#shops
 .discount
  p 2018-02-01 - 2018-02-31
  p Parduotuvė
  h1 Akcijos nr. pavadinimas
  img(src=siteurl + "img/columns-akcija-0.jpg", alt="")
 .discount
  p 2018-02-01 - 2018-02-31
  p Parduotuvė
  h1 Akcijos nr. pavadinimas
  img(src=siteurl + "img/columns-akcija-1.jpg", alt="")
 .discount
  p 2018-02-01 - 2018-02-31
  p Parduotuvė
  h1 Akcijos nr. pavadinimas
  img(src=siteurl + "img/columns-akcija-2.jpg", alt="")
  