#information
 img(src=siteurl + "img/bruklinas-logo-baltas-text-1.png" alt="Logo")
 .info
  p.h Parduotuvių darbo laikas
  p <b>I-VI</b>&emsp;10:00 - 20:00
  p <b>VII</b>&emsp; 10:00 - 20:00
 .info
  p.h Restoranų darbo laikas
  p <b>I-VI</b>&emsp;10:00 - 20:00
  p <b>VII</b>&emsp; 10:00 - 20:00
 .info
  p.h Mus rasite
  p 
   a(href='#') Pramonės g. 6, Šiauliai
  p 
   a(href='tel:+37011111111') +37011111111
  p 
   a(href='mailto:info@pcbruklinas.lt') info@pcbruklinas.lt
 .info
  p.h 
   a(href=siteurl + 'parduotuves-planas.html') Prekybos centro planas
