.r.bg
 .c4
  img(src=siteurl + '/img/bruklinas-logo-baltas-text.png', alt="Prekybos centras Bruklinas")
 .c2.text-center
  p.h Parduotuvių darbo laikas
  p <b>I-VI</b>&emsp; 10:00 - 20:00 <br/> <b>VII</b> &emsp; 10:00 - 20:00
 .c2.skirtukas.text-center
  p.h Restoranų darbo laikas
  p <b>I-VI</b>&emsp; 10:00 - 20:00 <br/> <b>VII</b> &emsp; 10:00 - 20:00
 .c2.text-center
  p.h Pramonės g. 6, Šiauliai 
  p Tel: 8611111111 <br /> 
   a(href='mailto:info@pcbruklinas.lt') info@pcbruklinas.lt