//Alignment
$position: relative;

.right {
    float: right;
}

.center-both {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Padding
$padding: 40px;

.p {
    padding: 0 $padding $padding 0;
}

.pt {
    padding-top: $padding; 
    padding-bottom: $padding;
}

.p-r { padding-left: 15%; }
.pr { padding-left: 7%; }
.p-l { padding: 0 10% 0 40px; }

.text-right {
    text-align: right;
    padding-right: $padding;
}

.text-left {
    text-align: left;
}