.shop {
    position: relative;
    float: right;
    height: 320px;
    width: 28%;
    min-width: 250px;
    margin: 0 30px 30px 0;
    border: 1px solid rgb(221, 221, 221);
    opacity: 1;
    transition: opacity 0.5s;
    text-align: center;
    box-shadow: 0px 3px 30px -9px rgba(131, 131, 131, 0.75);

    img {
        position: relative;
        margin: 0 auto;
        padding-top: 30px;
    }

    h2 {
        margin-top: 40px;
        margin-bottom: 0;
    }

    .tipas {
        color: rgb(184, 184, 184);
        padding-bottom: 20px;
        // border-bottom: 1px solid rgb(221, 221, 221);
    }

    .laikas {
        padding: 20px 0px;
        border-top:1px solid #ce013a;
        width: 160px;
        margin: 0 auto;
    }
}

.fltr {
    opacity: 0;
    position: absolute;
    left: -9999px;
}